body, html {
  font-family: Verdana;
  font-size: 0.92em;
  padding-bottom: 30px;
}

body {
  max-width: 290px;
  margin: auto;
  text-align: center;
}

header, table, section, main, footer {
  margin-top: 30px;
}

main {
  text-align: center;
  display: inline-block;
}

a {
  margin: 15px auto 15px auto !important;
  display: table;
}

.heading {
  color: darkgoldenrod;
  font-size: 1.2em;
  display: block;
  margin-top: 25px;
}

label {
  display: block;
  margin: 5px;
}

input[type=checkbox] {
  scale: 1.25;
}

hr {
  margin: 20px auto 20px auto;
}

table {
  border-collapse: collapse;
  text-align: left;
}

tbody tr:nth-child(even) {
  background: #FFE;
}

tbody tbody tr:nth-child(even) {
  background: inherit;
}

th, td {
  border-spacing: 3px 3px;
  padding-left: 3px;
}

ol, ul {
  text-align: left;
}

small {
  color: gray;
}
