body {
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px;
  font-family: Microsoft Sans Serif, sans serif !important;
  font-size: 8.25pt;
}

body > * {
  vertical-align: top;
}

button {
  font-family:  Microsoft Sans Serif, sans serif !important;
  font-size: 9.5pt;
  padding-left: 20px;
  padding-right: 20px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 3px; 
}

tr:nth-child(even) td {
  background-color: white;
}

th {
  padding: 0px;
}

th button {
  font-size: 8pt;
  padding: 0px;
  width: 100%;
  margin: 0px;
}

select {
  font-family:  Microsoft Sans Serif, sans serif !important;
  font-size: 9.5pt;
}
